html{
    scroll-behavior: smooth;
}

body{
    text-align: center;
}


.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;   
}
#aboutus{
    box-shadow: 5px 5px 18px white;
}
#shop{
    box-shadow: 5px 5px 18px white;
}
#faq{
    box-shadow: 5px 5px 18px white;
}

#contact {
   
box-shadow: 5px 5px 18px white; 


}
#contact iframe{
    width: 99%;
    display:inherit
    
}

.contact1 a{
    color: rgb(1, 80, 31);
    text-shadow: none;
}

.contact1 p{
    display: inline;
    font-size:18px;
}

.header p{
    font-family: 'Righteous', cursive;
    font-size: 70px;
    display: inline;
}
.header img{
    height:120px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.header{
    background-color: rgb(252, 252, 252);
    text-align:center;
    box-shadow: 5px 5px 18px rgb(161, 234, 247);
    position:fixed;
    width:90%;
    right: 60px;
    z-index: 99;
    top:0px;
}
.container{
    background-image:-webkit-linear-gradient( rgb(216, 255, 184), rgb(140, 233, 240));
}
#logo{
    height: 200px;
    margin-top: 65px;
    box-shadow: 5px 5px 18px teal;
    display:unset;
}