html{
    scroll-behavior: smooth;
}

body{
    text-align: center;
}


.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;   
}
#aboutus{
    box-shadow: 5px 5px 18px white;
    background-image:-webkit-linear-gradient(  rgb(255, 255, 255), rgba(250, 249, 182, 0.7));
}
#shop{
    box-shadow: 5px 5px 18px white;
    background-image: -webkit-linear-gradient( white, rgb(255, 201, 176, 0.8));
   
}
#faq{
    box-shadow: 5px 5px 18px white;
    background-image:-webkit-linear-gradient(  rgb(255, 255, 255), rgba(196, 251, 253, 0.8));
}

#contact {
   
box-shadow: 5px 5px 18px white; 
background-image:-webkit-linear-gradient(  rgb(255, 255, 255), rgba(227, 206, 253, 0.6));
margin-bottom: 20px;

}


.contact1 a{
    color: rgb(1, 80, 31);
    text-shadow: none;
}

.contact1 p{
    display: inline;
    font-size:18px;
}

#logo{
    height: 100px;
    margin-top: 75px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 18px rgb(152, 240, 178);
}
#mycarousel img{
    height: 400px;
    margin-top: 40px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#mycarousel{
    margin-bottom: 100px;;
}
#mycarousel p{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    margin-top:10px;

}
#header p{
    color: rgb(6, 124, 51);
    font-size: 65px;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    margin-top: -85px;
    text-shadow:2px 2px 15px rgb(156, 236, 160);
}
